<div class="jumbotron">
    <h2>Calculator App</h2>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Assumptions:</h2>
        <p>
            1- All the fields are required.
        </p>
        <p>
            2- All the fields have a maxlength = 10.
        </p>
        <p>
            3- Fields are cleared after success.
        </p>
    </div>
   
</div>
<div class="row">
    <div class="col-md-4">
        <span id="alert-success" style="color: green"></span>
        <span id="alert-error" style="color: red"></span>
        <label id="calculator-result"></label>
    </div>
</div>
<br/>
<form id="form-calculator">
    <div class="form-group">
        <input type="number" class="form-control" maxlength="10" id="value1" name="value1" placeholder="Enter a number" required/>
    </div>
    <div class="form-group">
        <input type="number" class="form-control" maxlength="10" id="value2" name="value2" placeholder="Enter a number" required />
    </div>
    <div class="form-group">
        <input type="number" class="form-control" maxlength="10" id="value3" name="value3" placeholder="Enter a number" required/>
    </div>
    <div class="form-group">
        <input type="number" class="form-control" maxlength="10" id="value4" name="value4" placeholder="Enter a number" required/>
    </div>

    <button type="submit" id="btnCalculate" class="btn btn-primary">Calculate</button>
</form>

@section scripts
{
    <script src="~/Scripts/Index.js"></script>
    <script>
        $("#form-calculator").validate();
    </script>
}
